/* @import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


:root {
  --text-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --color-bg: #fff;
  --color-txt: #000;
  --primary: #004a99;
  --secondary: #C5B091;
}


h1, h2, h3, h4, h5, h6 {
  color: #004a99;
}

h3 {
  margin: 3rem 0 0 0;
}

body {
  font-family: var(--text-font);
  background-color: var(--color-bg);
  color: var(--color-txt);
  text-align: center;
  margin: 0;
  margin-bottom: calc(var(--nav-height) + 20px);
  line-height: 1.5;
}

main {
  /* border: #004a99 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  width: 100vw;
  min-height: 100vh;
}

form {
  /* border: #00e723 1px solid; */
  width: 75vw;
  /* padding: 5rem; */
}

fieldset{
  border: #004a99 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 20rem;
}
.container {
  /* border: #000 1px solid; */
  width: 45%;
  padding: 1rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */  
}

.container div{
  /* border: #c71414 1px solid; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

.objektbeschreibung {
  width: 60%;
  
}

.objektbeschreibung-beschreibung div {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.objektbeschreibung div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.objektbeschreibung .number {
  width: 3rem;
}

.textarea-margin {
  margin-bottom: 1rem;
}

.kosteneinfluesse {
  /* border: #c71414 1px solid; */
  width: 70%;
}

.kosteneinfluesse div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.kosteneinfluesse input {
  width: 2rem;
}

fieldset {
  background-color: #fafcfd;
}

.button {
  background-color: var(--secondary);
  color: var(--color-bg);

  padding: 1rem 5rem;
  margin: 1rem;

}

.button:hover {
  background-color: var(--color-bg);
  border: 1px solid var(--secondary);
  color: var(--secondary);

}